@import './colorschemes/catppuccin-macchiato.css';

/* ========== Global Styles ========== */
* {
    border: none;
    font-family: "FiraCode Nerd Font Propo", "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @crust;
    color: black;
}

tooltip {
    background: @base;
    border: 2px solid @crust;
    border-radius: 0;
}

/* ========== Module Defaults ========== */
#custom-oslogo,
#bluetooth,
#custom-swaync,
#network,
#pulseaudio,
#tray,
#clock,
#window,
#mpris,
#cpu,
#memory,
#wireplumber,
#workspaces {
    background: @mantle;
    border-radius: 5px;
    font-weight: 600;
    margin: 6px 0;
    margin-right: 10px;
    padding: 0 6px;
}

/* ========== Individual Module Styles ========== */

#bluetooth {
    color: @color4;

}

#network {
    color: @color3;
}


#pulseaudio,
#wireplumber {
    color: @color5;
}

#custom-swaync {
    color: @color8;
    margin-right: 7px;
}

#workspaces {
    border-color: transparent;
    margin-left: 7px;

}

#workspaces button {
    color: @overlay0;
    padding: 5px;
    background: transparent;
}

#workspaces button.active,
#workspaces button.urgent,
#workspaces button:hover {
    color: @color0;
}

#workspaces button.focused {
    color: @crust;
}

#workspaces button:hover {
    border: none;
    box-shadow: none;
    outline: none;
    transition: none;
    text-shadow: none;
}

#window {
    background: transparent;
    color: @overlay0;
}

#cpu,
#memory {
    color: @color2;
}

#cpu {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
    margin-right: 0;
}

#memory {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#clock {
    color: @color1;
    font-weight: 600;
}